<div class="contentt">
    {{#each allvideos}}
    <div class="modull">

        <h2>{{titulo}}</h2>
        <img src="../{{portada}}" alt="{{portada}}" width="200px" height="150px">
        <h1>{{autor}}</h1>

        <video width="100%" autoplay controls controlsList="nodownload">
            <source src="../{{documento}}" type="video/mp4">
        </video>
    </div>
    {{else}}
    <div class="modull">
        <p>No hay Videos aun en existencia.</p>
    </div>
    {{/each}}
    <hr>
    {{#each allmusica}}
    <div class="modull">
        <h2>{{titulo}}</h2>
        <img src="../{{portada}}" alt="{{portada}}" width="200px" height="150px">
        <h1>{{autor}}</h1>
        <audio id="sonido" src="../{{documento}}" controls controlsList="nodownload">
        </audio>
    </div>
    {{else}}
    <div class="modull">
        <p>No hay Musica aun en existencia.</p>
    </div>
    {{/each}}
</div>