<div class="container p-4">
    <div class="row">
        {{#each videos}}
        <div class="modulle">
            <h2>{{titulo}}</h2>
            

            <video autoplay controls src="../{{documento}}" controlsList="nodownload"></video>
            <h1>{{autor}}</h1>
            <p>facebook: {{facebook}}</p>
            <p>whattsap: {{whattsap}}</p>
            <p>email: {{email}}</p>
        </div>

        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay Videos aun en existencia.</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>